.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .inspirationcard {
    margin-bottom: 20px;
  }

  .inspirationbody {
    padding: 1.6rem !important;
  }

  .inspirationtitle {
    margin-top: 1.4rem !important;
    margin-bottom: 1.4rem !important;
  }
}

.col-md-4 {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}
